/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.note-list {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
  background-color: #FAFAFB;
}
.note-list .note-list-animated {
  position: absolute;
  width: 100%;
  background-color: #FAFAFB;
}
.note-list .navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D8D8D8;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FAFAFB;
}
.note-list .nav-menu {
  width: 50px;
  background-color: transparent;
  border: 0px;
}
.note-list .nav-title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Roboto;
  color: #000000;
}
.note-list .nav-search {
  width: 50px;
  background-color: transparent;
  border: 0px;
}
.note-list .note-link {
  color: black;
  text-decoration: none;
  flex-grow: 1;
}
.note-list .note-container {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #D8D8D8;
  padding: 10px;
}
.note-list .note-moment {
  width: 25px;
  color: #8F8E8E;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
}
.note-list .note {
  overflow: hidden;
  padding-left: 15px;
}
.note-list .note-title {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}
.note-list .note-content {
  padding: 10px 0;
  color: #9D9D9E;
}
.note-list .note-nav {
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
}
.note-list .new-note {
  position: fixed;
  borer: 0px;
  bottom: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #DC4B4E;
}
.note-list .new-note :hover {
  cursor: pointer;
}

.create-note {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFB;
}
.create-note input:focus::-webkit-input-placeholder {
  color: transparent;
}
.create-note textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.create-note .create-note-animated {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}
.create-note .nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ABABAC;
}
.create-note .left-chevron {
  color: #ABABAC;
  padding: 10px;
}
.create-note .menu-share {
  color: #ABABAC;
  border: 0;
  align-self: flex-end;
  background: transparent;
  padding: 0 10px;
}
.create-note .menu-info {
  color: #ABABAC;
  border: 0;
  padding: 10px;
  background: transparent;
}
.create-note .noteContent {
  display: flex;
  position: relative;
}
.create-note .button-save {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  right: 80px;
  transform: scale(1.5);
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0px;
}
.create-note .button-save :hover {
  stroke: red;
}
.create-note .markdown {
  width: 5%;
  font-size: 1.1rem;
  padding-top: 8px;
  text-align: center;
  color: #8F8E8E;
}
.create-note .form-newNote {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  caret-color: #DC4B4E;
}
.create-note .form-newNote .createTitle {
  padding-left: 10px;
  background-color: #FAFAFB;
  font-size: 1.6rem;
  height: 30px;
  border: 0;
  font-weight: 600;
}
.create-note .form-newNote .createTitle:focus {
  outline: 0px;
}
.create-note .form-newNote .createContent {
  padding-left: 10px;
  height: 80vh;
  margin-top: 20px;
  background-color: #FAFAFB;
  font-size: 1.4rem;
  border: 0;
}
.create-note .form-newNote .createContent:focus {
  outline: 0px;
}

/*# sourceMappingURL=index.css.map */
