.create-note {
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $color-bkg;
  .create-note-animated {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }
  .nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-svg;
  }
  .left-chevron {
    color: $color-svg;
    padding: 10px;
  }
  .menu-share {
    color: $color-svg;
    border: 0;
    align-self: flex-end;
    background: transparent;
    padding: 0 10px;
  }
  .menu-info {
    color: $color-svg;
    border: 0;
    padding: 10px;
    background: transparent;
  }
  .noteContent {
    display: flex;
    position: relative;
  }
  .button-save {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    right: 80px;
    transform: scale(1.5);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0px;
    :hover {
      stroke: red;
    }
  }
  .markdown {
    width: 5%;
    font-size: 1.1rem;
    padding-top: 8px;
    text-align: center;
    color: $color-time
  }
  .form-newNote {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    caret-color: $color-newNote;
    .createTitle {
      padding-left: 10px;
      background-color: $color-bkg;
      font-size: 1.6rem;
      height: 30px;
      border: 0;
      font-weight: 600;
      &:focus {
        outline: 0px;
      }
    }
    .createContent {
      padding-left: 10px;
      height: 80vh;
      margin-top: 20px;
      background-color: $color-bkg;
      font-size: 1.4rem;
      border: 0;
      &:focus {
        outline: 0px;
      }
    }
  }
}