.note-list {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
  background-color: $color-bkg;
  .note-list-animated {
    position: absolute;
    width: 100%;
    background-color: $color-bkg;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-bkg;
  }
  .nav-menu {
    width: 50px;
    background-color: transparent;
    border: 0px;
  }
  .nav-title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Roboto;
    color: $color-title;
  }
  .nav-search {
    width: 50px;
    background-color: transparent;
    border: 0px;
  }
  .note-link {
    color: black;
    text-decoration: none;
    flex-grow: 1;
  }
  .note-container {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid $color-border;
    padding: 10px;
  }
  .note-moment {
    width: 25px;
    color: $color-time;
    font-size: .8rem;
    text-align: center;
    overflow: hidden;
  }
  .note {
    overflow: hidden;
    padding-left: 15px;
  }
  .note-title {
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .note-content {
    padding: 10px 0;
    color: $color-content;
  }
  .note-nav {
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
  }
  .new-note {
    position: fixed;
    borer: 0px;
    bottom: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $color-newNote;
    :hover {
      cursor: pointer;
    }
  }
}