.note-list {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: $color-bkg;
  .note-list-animated {
    position: absolute;
    width: 100%;
    background-color: $color-bkg;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-bkg;
  }
  .nav-menu {
    width: 50px;
    background-color: transparent;
    border: 0px;
  }
  .nav-title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Roboto;
    color: $color-title;
  }
  .nav-search {
    width: 50px;
    background-color: transparent;
    border: 0px;
  }
  .note-list {
    min-height: 100vh;
    height: 100%;
  }
  .note-container {
    display: flex;
    min-height: 100px;
    margin-top: 20px;
  }
  .note-moment {
    width: 20px;
    padding: 15px;
    color: $color-time;
    font-size: .8rem;
    text-align: center;
    overflow: hidden;
  }
  .note {
    width: 100%;
    border-bottom: 1px solid $color-border;
    overflow: hidden;
  }
  .note-title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .note-content {
    padding: 10px 0;
    color: $color-content;
  }
  .note-nav {
    border-bottom: 1px solid $color-border;
  }
  .new-note {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $color-newNote;
  }
}